name: Node.js CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  auth-react-app-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: auth-react-app

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: auth-react-app/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build
